.table-container {
    overflow: auto; /* Permite scroll vertical y horizontal */
    max-height: 80vh; /* Ajusta la altura máxima según tus necesidades */
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho de su padre */
  }

.tgr_account_report{

  .table {
        background-color: $o-view-background-color;
        border-collapse: separate; //!\\ Allows to add padding to the table
        border-spacing: 0; //!\\ Removes default spacing between cells due to 'border-collapse: separate'
        font-size: 0.8rem;
        margin: 0 auto 24px;
        padding: 24px;
        width: auto;
        min-width: 800px;
        border: 1px solid $o-gray-300;
        border-radius: 0.25rem;

        > :not(caption) > * > * { padding: 0.25rem 0.75rem } //!\\ Override of bootstrap, keep selector

        > thead {
            > tr {
                th:first-child {
                    color: lightgrey;
                }
                th:not(:first-child) {
                    text-align: center;
                    vertical-align: middle;
                }
            }
            > tr:not(:last-child) > th:not(:first-child) { border: 1px solid $o-gray-300 }
        }

        > tbody {
            > tr {
                &.unfolded { font-weight: bold }
                > td {
                    a { cursor: pointer }
                    .clickable { color: $o-enterprise-action-color }
                    &.muted { color: var(--AccountReport-muted-data-color, $o-gray-300) }
                    &:empty::after{ content: "\00a0" } //!\\ Prevents the collapse of empty table rows
                    &:empty { line-height: 1 }
                    .btn_annotation { color: $o-enterprise-action-color }
                }

                &:not(.empty) > td { border-bottom: 1px solid var(--AccountReport-fine-line-separator-color, $o-gray-200) }
                &.total { font-weight: bold }
                &.o_bold_tr { font-weight: bold }

                &.unfolded {
                    > td { border-bottom: 1px solid $o-gray-300 }
                    .btn_action { opacity: 1 }
                    .btn_more { opacity: 1 }
                }

                &:hover {
                    &.empty > * { --table-accent-bg: transparent }
                    .auditable {
                        color: $o-enterprise-action-color !important;

                        > a:hover { cursor: pointer }
                    }
                    .muted { color: $o-gray-800 }
                    .btn_action, .btn_more {
                        opacity: 1;
                        color: $o-enterprise-action-color;
                    }
                    .btn_edit { color: $o-enterprise-action-color }
                    .btn_dropdown { color: $o-enterprise-action-color }
                    .btn_foldable { color: $o-enterprise-action-color }
                    .btn_ellipsis { color: $o-enterprise-action-color }
                    .btn_annotation_go { color: $o-enterprise-action-color }
                    .btn_debug { color: $o-enterprise-action-color }
                }
            }
        }
    }
    table.striped {
        //!\\ Changes the background of every even column starting with the 3rd one
        > thead > tr:not(:first-child) > th:nth-child(2n+3) { background: $o-gray-100 }
        > tbody {
            > tr:not(.line_level_0):not(.empty) > td:nth-child(2n+3) { background: $o-gray-100 }
            > tr.line_level_0 > td:nth-child(2n+3) { background: $o-gray-300 }
        }
    }

    thead.sticky {
        background-color: $o-view-background-color;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .line_name {
        > .wrapper {
            display: flex;

            > .content {
                display: flex;
                sup { top: auto }
            }
        }

        .name { white-space: nowrap }
        &.unfoldable:hover { cursor: pointer }
    }

    .line_cell {
        > .wrapper {
            display: flex;
            align-items: center;

            > .content { display: flex }
        }

        &.date > .wrapper { justify-content: center }
        &.numeric > .wrapper { justify-content: flex-end }
        .name { white-space: nowrap }
    }
.line_level_0 {
        background-color: #d5d7db;
        color: $o-gray-700;
        font-weight: bold;

        > td { border-bottom: 0 !important; }
        .muted { color: $o-gray-400 !important }
        .btn_debug { color: $o-gray-400 }
    }

  @for $i from 2 through 16 {
        .line_level_#{$i} {
            $indentation: (($i + 1) * 8px) - 20px; // 20px are for the btn_foldable width

            > td {
                color: $o-gray-700;

                &.line_name.unfoldable .wrapper { column-gap: calc(#{ $indentation }) }
                &.line_name:not(.unfoldable) .wrapper { padding-left: $indentation }
            }
        }
    }
  }

